## Importing Different Files in Python

- Local File
 - Plain text, csv, tsv
- Database
 - SQLite, MongoDB
- Remote File
 - HTML, JSON, Csv
- Excel File, Matlab .m file
- Web API - Facebook or Google API

## Reading text file

- Without Context Manager
- With Context Manager

### Without Context Manager

In [35]:
file = open("2.1 news.txt.txt", 'r')

# mode - r -read | w - write

In [36]:
file.read()

'Why Infrastructure Is So Expensive \nA subway-style diagram of the major Roman roads\nBaby Bird from Time of Dinosaurs Found Fossilized\nMIT Gets $140M Pledge from Anonymous Donor (wsj.com)\nHow hackers abused satellites to stay under the radar (2015)\nFiduciary Rule Fight Brews While Bad Financial Advisers\nIn 1957, Five Men Agreed to Stand Under an Exploding Nuclear Bomb\n'

In [37]:
file.closed #it gives false because its opened

False

In [38]:
file.close() #we are manually closing it

### With Context Manager

In context manager, the file is automatically closed without our interpretation. To read everyline we have to run again n again

In [39]:
with open("2.1 news.txt.txt", 'r') as file1:
          print(file1.readline())
          print(file1.readline())

Why Infrastructure Is So Expensive

A subway-style diagram of the major Roman roads

## Reading .csv File

we are reading .csv file by numpy as well as pandas

In [1]:
import numpy as np
import pandas as pd

In [41]:
mnist_data = np.loadtxt("3.2 mnist.csv.csv",dtype = float, comments = '#', delimiter = ',')

# when we actually check data,it's numeric and
# is present in the data which means it must be excluded. we have COMMENTS for that.
# delimiter is used to separate the data

In [42]:
mnist_data

array([[5., 0., 0., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [3., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])

In [43]:
#Let's see what if the data is string/non-numeric

In [18]:
titanic_data = np.genfromtxt("3.1 titanic.csv.csv", dtype = None, delimiter = ',', skip_header = 1,encoding = "utf8")

#dtype - none, data is a mixture of numbers and string
#skip_header will exclude the header title for appending in data

In [19]:
titanic_data

array([( 1, '1st', 'Male', 'Child', 'No', '0'),
       ( 2, '2nd', 'Male', 'Child', 'No', '0'),
       ( 3, '3rd', 'Male', 'Child', 'No', '35'),
       ( 4, 'Crew', 'Male', 'Child', 'No', '0'),
       ( 5, '1st', 'Female', 'Child', 'No', '0'),
       ( 6, '2nd', 'Female', 'Child', 'No', '0␊'),
       ( 7, '3rd', 'Female', 'Child', 'No', '17'),
       ( 8, 'Crew', 'Female', 'Child', 'No', '0'),
       ( 9, '1st', 'Male', 'Adult', 'No', '118'),
       (10, '2nd', 'Male', 'Adult', 'No', '154'),
       (11, '3rd', 'Male', 'Adult', 'No', '387'),
       (12, 'Crew', 'Male', 'Adult', 'No', '670'),
       (13, '1st', 'Female', 'Adult', 'No', '4'),
       (14, '2nd', 'Female', 'Adult', 'No', '13'),
       (15, '3rd', 'Female', 'Adult', 'No', '89'),
       (16, 'Crew', 'Female', 'Adult', 'No', '3'),
       (17, '1st', 'Male', 'Child', 'Yes', '5'),
       (18, '2nd', 'Male', 'Child', 'Yes', '11'),
       (19, '3rd', 'Male', 'Child', 'Yes', '13'),
       (20, 'Crew', 'Male', 'Child', 'Yes', '0'),
       (21, '1st', 'Female', 'Child', 'Yes', '1'),
       (22, '2nd', 'Female', 'Child', 'Yes', '13'),
       (23, '3rd', 'Female', 'Child', 'Yes', '14'),
       (24, 'Crew', 'Female', 'Child', 'Yes', '0'),
       (25, '1st', 'Male', 'Adult', 'Yes', '57'),
       (26, '2nd', 'Male', 'Adult', 'Yes', '14'),
       (27, '3rd', 'Male', 'Adult', 'Yes', '75'),
       (28, 'Crew', 'Male', 'Adult', 'Yes', '192'),
       (29, '1st', 'Female', 'Adult', 'Yes', '140'),
       (30, '2nd', 'Female', 'Adult', 'Yes', '80')],
      dtype=[('f0', '<i4'), ('f1', '<U4'), ('f2', '<U6'), ('f3', '<U5'), ('f4', '<U3'), ('f5', '<U3')])

In [20]:
#Let's do the same through pandas library

In [21]:
titanic = pd.read_csv("3.1 titanic.csv.csv",sep = ',') #here delimiter is separator

In [22]:
titanic.head()

   No Class     Sex    Age Survived Freq
0   1   1st    Male  Child       No    0
1   2   2nd    Male  Child       No    0
2   3   3rd    Male  Child       No   35
3   4  Crew    Male  Child       No    0
4   5   1st  Female  Child       No    0

## Excel and Matlab .m File

In [23]:
#we have two sheets in our excel

In [24]:
file1 = pd.ExcelFile('4.1 ExcelTest.xlsx.xlsx')

In [25]:
file1.sheet_names #it shows the sheets names in excel

['s1', 's2']

In [27]:
file1.parse('s1') #reads the data in s1 sheet

,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
1,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.8100,208.16,68.02,Nunavut,Appliances,0.58
2,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.7075,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,R380,Clay Rozendal,483,1198.9710,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,Holmes HEPA Air Purifier,Carlos Soltero,515,30.9400,21.78,5.94,Nunavut,Appliances,0.50
5,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Carlos Soltero,515,4.4300,6.64,4.95,Nunavut,Office Furnishings,0.37
6,"Angle-D Binders with Locking Rings, Label Holders",Carl Jackson,613,-54.0385,7.30,7.72,Nunavut,Binders and Binder Accessories,0.38
7,"SAFCO Mobile Desk Side File, Wire Frame",Carl Jackson,613,127.7000,42.76,6.22,Nunavut,Storage & Organization,NaN
8,"SAFCO Commercial Wire Shelving, Black",Monica Federle,643,-695.2600,138.14,35.00,Nunavut,Storage & Organization,NaN
9,Xerox 198,Dorothy Badders,678,-226.3600,4.98,8.33,Nunavut,Paper,0.38

In [29]:
#import scipy lab for accessing matlab file
from scipy.io import loadmat

In [30]:
x = loadmat('MatlabTest.mat')

In [32]:
x #this gives the info inside the file

{'__header__': b'MATLAB 5.0 MAT-file Platform: posix, Created on: Sun Jun 18 12:46:39 2017',
 '__version__': '1.0',
 '__globals__': [],
 'data': array([[['a', '1'],
         ['b', '2']]], dtype='<U1')}

In [34]:
x['data'] #results the data part

array([[['a', '1'],
        ['b', '2']]], dtype='<U1')

## SQLite - Relational Database

In [44]:
import sqlite3

In [46]:
conn = sqlite3.connect('SqliteTestDb.db') #we are connecting to the database

In [47]:
cur = conn.cursor() #Return a cursor for the connection.

In [48]:
cur.execute("select * from employees") #grabs all data under employees table

In [49]:
df = cur.fetchall()

In [51]:
for details in df:
    print(details)

(1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com')
(2, 'Edwards', 'Nancy', 'Sales Manager', 1, '1958-12-08 00:00:00', '2002-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com')
(3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com')
(4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com')
(5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')
(6, 'Mitchell', 'Michael', 'IT Manager', 1, '1973-07-01 00:00:00', '2003-10-17 00:00:00', '5827 Bowness Road NW', 'Calgary', 'AB', 'Canada', 'T3B 0C5', '+1 (403) 246-9887', '+1 (403) 246-9899', 'michael@chinookcorp.com')
(7, 'King', 'Robert', 'IT Staff', 6, '1970-05-29 00:00:00', '2004-01-02 00:00:00', '590 Columbia Boulevard West', 'Lethbridge', 'AB', 'Canada', 'T1K 5N8', '+1 (403) 456-9986', '+1 (403) 456-8485', 'robert@chinookcorp.com')
(8, 'Callahan', 'Laura', 'IT Staff', 6, '1968-01-09 00:00:00', '2004-03-04 00:00:00', '923 7 ST NW', 'Lethbridge', 'AB', 'Canada', 'T1H 1Y8', '+1 (403) 467-3351', '+1 (403) 467-8772', 'laura@chinookcorp.com')

In [52]:
#Sqlite file access by Pandas

In [53]:
df1 = pd.read_sql_query("select * from employees", conn)

#conn - we have already conected to database under conn variable

In [54]:
df1

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

## Fetch Remote File

In [2]:
html_url = 'http://www.google.com'
csv_url = 'https://github.com/edypraveen/data-science-ipython-notebooks/edit/master/data/churn.csv'
json_url = 'https://raw.githubusercontent.com/ankit25587/test/master/test.json'

In [3]:
import requests

In [4]:
response = requests.get(html_url) #get is used to get request

In [5]:
htmldata = response.text #to grab the entire details of website in txt format

In [6]:
htmldata

'<!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="en-IN"><head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta content="/logos/doodles/2018/india-independence-day-2018-5949872665526272.2-l.png" itemprop="image"><meta content="India Independence Day 2018" property="twitter:title"><meta content="Happy Independence Day, India! #GoogleDoodle" property="twitter:description"><meta content="Happy Independence Day, India! #GoogleDoodle" property="og:description"><meta content="summary_large_image" property="twitter:card"><meta content="@GoogleDoodles" property="twitter:site"><meta content="https://www.google.com/logos/doodles/2018/india-independence-day-2018-5949872665526272-2x.png" property="twitter:image"><meta content="https://www.google.com/logos/doodles/2018/india-independence-day-2018-5949872665526272-2x.png" property="og:image"><meta content="1150" property="og:image:width"><meta content="460" property="og:image:height"><title>Google</title><script nonce="1TvDCYd/S6BqdFfC5HC71A==">(function(){window.google={kEI:\'X9pzW6HxGMiDvQTSkoYY\',kEXPI:\'0,1353747,57,1958,1297,265,70,2015,294,436,326,458,393,394,2338583,196,32,329294,1294,12383,2349,2506,32691,2075,13173,867,6692,5471,6381,3335,2,2,6801,368,549,664,2102,1263,1051,3191,224,502,5,1711,130,130,5107,444,131,1119,2,579,727,310,3,299,1820,58,2,2,2,1297,1713,26,1349,505,730,403,1693,664,630,8,300,1270,773,1233,882,136,280,2,694,148,282,594,1545,348,1375,22,599,5,2,2,2298,126,2,65,3,774,858,327,570,509,47,1540,296,1344,38,31,331,719,334,130,630,480,78,156,386,8,1003,81,7,3,25,447,16,620,29,989,406,451,7,63,568,818,398,93,435,79,162,536,921,1170,354,164,485,65,114,386,26,125,253,53,24,602,557,79,238,147,77,296,39,78,534,44,2,197,6,330,235,720,87,225,7,10,62,224,191,164,111,30,64,95,2317337,3685997,2554,5997495,2800291,4,1572,549,332,445,1,2,1,1,78,1,900,580,9,307,1,8,1,2,1,1,2130,1,1,1,1,1,205,29,2,2,83,1,1,3,1,1,13,8,13,7,11,24,3,7,1,4,22309382\',authuser:0,kscs:\'c9c918f0_X9pzW6HxGMiDvQTSkoYY\',kGL:\'IN\'};google.kHL=\'en-IN\';})();google.time=function(){return(new Date).getTime()};(function(){google.lc=[];google.li=0;google.getEI=function(a){for(var b;a&&(!a.getAttribute||!(b=a.getAttribute("eid")));)a=a.parentNode;return b||google.kEI};google.getLEI=function(a){for(var b=null;a&&(!a.getAttribute||!(b=a.getAttribute("leid")));)a=a.parentNode;return b};google.https=function(){return"https:"==window.location.protocol};google.ml=function(){return null};google.wl=function(a,b){try{google.ml(Error(a),!1,b)}catch(d){}};google.log=function(a,b,d,c,g){if(a=google.logUrl(a,b,d,c,g)){b=new Image;var e=google.lc,f=google.li;e[f]=b;b.onerror=b.onload=b.onabort=function(){delete e[f]};google.vel&&google.vel.lu&&google.vel.lu(a);b.src=a;google.li=f+1}};google.logUrl=function(a,b,d,c,g){var e="",f=google.ls||"";d||-1!=b.search("&ei=")||(e="&ei="+google.getEI(c),-1==b.search("&lei=")&&(c=google.getLEI(c))&&(e+="&lei="+c));c="";!d&&google.cshid&&-1==b.search("&cshid=")&&"slh"!=a&&(c="&cshid="+google.cshid);a=d||"/"+(g||"gen_204")+"?atyp=i&ct="+a+"&cad="+b+e+f+"&zx="+google.time()+c;/^http:/i.test(a)&&google.https()&&(google.ml(Error("a"),!1,{src:a,glmm:1}),a="");return a};}).call(this);(function(){google.y={};google.x=function(a,b){if(a)var c=a.id;else{do c=Math.random();while(google.y[c])}google.y[c]=[a,b];return!1};google.lm=[];google.plm=function(a){google.lm.push.apply(google.lm,a)};google.lq=[];google.load=function(a,b,c){google.lq.push([[a],b,c])};google.loadAll=function(a,b){google.lq.push([a,b])};}).call(this);google.f={};</script><script nonce="1TvDCYd/S6BqdFfC5HC71A==">var a=window.location,b=a.href.indexOf("#");if(0<=b){var c=a.href.substring(b+1);/(^|&)q=/.test(c)&&-1==c.indexOf("#")&&a.replace("/search?"+c.replace(/(^|&)fp=[^&]*/g,"")+"&cad=h")};</script><style>#gbar,#guser{font-size:13px;padding-top:1px !important;}#gbar{height:22px}#guser{padding-bottom:7px !important;text-align:right}.gbh,.gbd{border-top:1px solid #c9d7f1;font-size:1px}.gbh{height:0;position:absolute;top:24px;width:100%}@media all{.gb1{height:22px;margin-right:.5em;vertical-align:top}#gbar{float:left}}a.gb1,a.gb4{text-decoration:underline !important}a.gb1,a.gb4{color:#00c !important}.gbi .gb4{color:#dd8e27 !important}.gbf .gb4{color:#900 !important}\n</style><style>body,td,a,p,.h{font-family:arial,sans-serif}body{margin:0;overflow-y:scroll}#gog{padding:3px 8px 0}td{line-height:.8em}.gac_m td{line-height:17px}form{margin-bottom:20px}.h{color:#36c}.q{color:#00c}.ts td{padding:0}.ts{border-collapse:collapse}em{font-weight:bold;font-style:normal}.lst{height:25px;width:496px}.gsfi,.lst{font:18px arial,sans-serif}.gsfs{font:17px arial,sans-serif}.ds{display:inline-box;display:inline-block;margin:3px 0 4px;margin-left:4px}input{font-family:inherit}a.gb1,a.gb2,a.gb3,a.gb4{color:#11c !important}body{background:#fff;color:black}a{color:#11c;text-decoration:none}a:hover,a:active{text-decoration:underline}.fl a{color:#36c}a:visited{color:#551a8b}a.gb1,a.gb4{text-decoration:underline}a.gb3:hover{text-decoration:none}#ghead a.gb2:hover{color:#fff !important}.sblc{padding-top:5px}.sblc a{display:block;margin:2px 0;margin-left:13px;font-size:11px}.lsbb{background:#eee;border:solid 1px;border-color:#ccc #999 #999 #ccc;height:30px}.lsbb{display:block}.ftl,#fll a{display:inline-block;margin:0 12px}.lsb{background:url(/images/nav_logo229.png) 0 -261px repeat-x;border:none;color:#000;cursor:pointer;height:30px;margin:0;outline:0;font:15px arial,sans-serif;vertical-align:top}.lsb:active{background:#ccc}.lst:focus{outline:none}</style><script nonce="1TvDCYd/S6BqdFfC5HC71A=="></script><link href="/images/branding/product/ico/googleg_lodp.ico" rel="shortcut icon"></head><body bgcolor="#fff"><script nonce="1TvDCYd/S6BqdFfC5HC71A==">(function(){var src=\'/images/nav_logo229.png\';var iesg=false;document.body.onload = function(){window.n && window.n();if (document.images){new Image().src=src;}\nif (!iesg){document.f&&document.f.q.focus();document.gbqf&&document.gbqf.q.focus();}\n}\n})();</script><div id="mngb"> <div id=gbar><nobr><b class=gb1>Search</b> <a class=gb1 href="http://www.google.co.in/imghp?hl=en&tab=wi">Images</a> <a class=gb1 href="http://maps.google.co.in/maps?hl=en&tab=wl">Maps</a> <a class=gb1 href="https://play.google.com/?hl=en&tab=w8">Play</a> <a class=gb1 href="http://www.youtube.com/?gl=IN&tab=w1">YouTube</a> <a class=gb1 href="http://news.google.co.in/nwshp?hl=en&tab=wn">News</a> <a class=gb1 href="https://mail.google.com/mail/?tab=wm">Gmail</a> <a class=gb1 href="https://drive.google.com/?tab=wo">Drive</a> <a class=gb1 style="text-decoration:none" href="https://www.google.co.in/intl/en/options/"><u>More</u> &raquo;</a></nobr></div><div id=guser width=100%><nobr><span id=gbn class=gbi></span><span id=gbf class=gbf></span><span id=gbe></span><a href="http://www.google.co.in/history/optout?hl=en" class=gb4>Web History</a> | <a  href="/preferences?hl=en" class=gb4>Settings</a> | <a target=_top id=gb_70 href="https://accounts.google.com/ServiceLogin?hl=en&passive=true&continue=http://www.google.com/" class=gb4>Sign in</a></nobr></div><div class=gbh style=left:0></div><div class=gbh style=right:0></div> </div><center><br clear="all" id="lgpd"><div id="lga"><a href="/search?site=&amp;ie=UTF-8&amp;q=India+Independence+Day&amp;oi=ddle&amp;ct=india-independence-day-2018-5949872665526272&amp;hl=en&amp;kgmid=/m/07j57g&amp;sa=X&amp;ved=0ahUKEwjhnOm2yO7cAhXIQY8KHVKJAQMQPQgD"><img alt="India Independence Day 2018" border="0" height="220" src="/logos/doodles/2018/india-independence-day-2018-5949872665526272.2-l.png" title="India Independence Day 2018" width="550" id="hplogo" onload="window.lol&&lol()"><br></a><br></div><form action="/search" name="f"><table cellpadding="0" cellspacing="0"><tr valign="top"><td width="25%">&nbsp;</td><td align="center" nowrap=""><input name="ie" value="ISO-8859-1" type="hidden"><input value="en-IN" name="hl" type="hidden"><input name="source" type="hidden" value="hp"><input name="biw" type="hidden"><input name="bih" type="hidden"><div class="ds" style="height:32px;margin:4px 0"><input style="color:#000;margin:0;padding:5px 8px 0 6px;vertical-align:top" autocomplete="off" class="lst" value="" title="Google Search" maxlength="2048" name="q" size="57"></div><br style="line-height:0"><span class="ds"><span class="lsbb"><input class="lsb" value="Google Search" name="btnG" type="submit"></span></span><span class="ds"><span class="lsbb"><input class="lsb" value="I\'m Feeling Lucky" name="btnI" onclick="if(this.form.q.value)this.checked=1; else top.location=\'/doodles/\'" type="submit"></span></span></td><td class="fl sblc" align="left" nowrap="" width="25%"><a href="/advanced_search?hl=en-IN&amp;authuser=0">Advanced search</a><a href="/language_tools?hl=en-IN&amp;authuser=0">Language tools</a></td></tr></table><input id="gbv" name="gbv" type="hidden" value="1"></form><div id="gac_scont"></div><div style="font-size:83%;min-height:3.5em"><br><div id="prm"><style>.szppmdbYutt__middle-slot-promo{font-size:small;margin-bottom:32px}.szppmdbYutt__middle-slot-promo a.ZIeIlb{display:inline-block;text-decoration:none}.szppmdbYutt__middle-slot-promo img{border:none;margin-right:5px;vertical-align:middle}</style><div class="szppmdbYutt__middle-slot-promo" data-ved="0ahUKEwjhnOm2yO7cAhXIQY8KHVKJAQMQnIcBCAQ"><a class="NKcBbd" href="https://www.google.com/url?q=https://artsandculture.google.com/exhibit/oALypdm9hVJHIQ&amp;source=hpp&amp;id=19007773&amp;ct=3&amp;usg=AFQjCNFr6K7QYtGpYI5pG4V1iXDC8W0LPw&amp;sa=X&amp;ved=0ahUKEwjhnOm2yO7cAhXIQY8KHVKJAQMQ8IcBCAU" rel="nofollow">See the lost photos of India\'s Independence</a></div></div><div id="gws-output-pages-elements-homepage_additional_languages__als"><style>#gws-output-pages-elements-homepage_additional_languages__als{font-size:small;margin-bottom:24px}#SIvCob{display:inline-block;line-height:28px;}#SIvCob a{padding:0 3px;}.H6sW5{display:inline-block;margin:0 2px;white-space:nowrap}.z4hgWe{display:inline-block;margin:0 2px}</style><div id="SIvCob">Google offered in:  <a href="http://www.google.com/setprefs?sig=0_0SPrOvhfGc1At2oyDANyfFH8HJs%3D&amp;hl=hi&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjhnOm2yO7cAhXIQY8KHVKJAQMQ2ZgBCAc">&#2361;&#2367;&#2344;&#2381;&#2342;&#2368;</a>    <a href="http://www.google.com/setprefs?sig=0_0SPrOvhfGc1At2oyDANyfFH8HJs%3D&amp;hl=bn&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjhnOm2yO7cAhXIQY8KHVKJAQMQ2ZgBCAg">&#2476;&#2494;&#2434;&#2482;&#2494;</a>    <a href="http://www.google.com/setprefs?sig=0_0SPrOvhfGc1At2oyDANyfFH8HJs%3D&amp;hl=te&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjhnOm2yO7cAhXIQY8KHVKJAQMQ2ZgBCAk">&#3108;&#3142;&#3122;&#3137;&#3095;&#3137;</a>    <a href="http://www.google.com/setprefs?sig=0_0SPrOvhfGc1At2oyDANyfFH8HJs%3D&amp;hl=mr&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjhnOm2yO7cAhXIQY8KHVKJAQMQ2ZgBCAo">&#2350;&#2352;&#2366;&#2336;&#2368;</a>    <a href="http://www.google.com/setprefs?sig=0_0SPrOvhfGc1At2oyDANyfFH8HJs%3D&amp;hl=ta&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjhnOm2yO7cAhXIQY8KHVKJAQMQ2ZgBCAs">&#2980;&#2990;&#3007;&#2996;&#3021;</a>    <a href="http://www.google.com/setprefs?sig=0_0SPrOvhfGc1At2oyDANyfFH8HJs%3D&amp;hl=gu&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjhnOm2yO7cAhXIQY8KHVKJAQMQ2ZgBCAw">&#2711;&#2753;&#2716;&#2736;&#2750;&#2724;&#2752;</a>    <a href="http://www.google.com/setprefs?sig=0_0SPrOvhfGc1At2oyDANyfFH8HJs%3D&amp;hl=kn&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjhnOm2yO7cAhXIQY8KHVKJAQMQ2ZgBCA0">&#3221;&#3240;&#3277;&#3240;&#3233;</a>    <a href="http://www.google.com/setprefs?sig=0_0SPrOvhfGc1At2oyDANyfFH8HJs%3D&amp;hl=ml&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjhnOm2yO7cAhXIQY8KHVKJAQMQ2ZgBCA4">&#3374;&#3378;&#3375;&#3390;&#3379;&#3330;</a>    <a href="http://www.google.com/setprefs?sig=0_0SPrOvhfGc1At2oyDANyfFH8HJs%3D&amp;hl=pa&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjhnOm2yO7cAhXIQY8KHVKJAQMQ2ZgBCA8">&#2602;&#2672;&#2588;&#2622;&#2604;&#2624;</a>  </div></div></div><span id="footer"><div style="font-size:10pt"><div style="margin:19px auto;text-align:center" id="fll"><a href="/intl/en/ads/">Advertising\xa0Programs</a><a href="http://www.google.co.in/services/">Business Solutions</a><a href="https://plus.google.com/104205742743787718296" rel="publisher">+Google</a><a href="/intl/en/about.html">About Google</a><a href="http://www.google.com/setprefdomain?prefdom=IN&amp;prev=http://www.google.co.in/&amp;sig=__9ul_yRm3YGsKRBZpMHYPF5VvRRM%3D">Google.co.in</a></div></div><p style="color:#767676;font-size:8pt">&copy; 2018 - <a href="/intl/en/policies/privacy/">Privacy</a> - <a href="/intl/en/policies/terms/">Terms</a></p></span></center><script nonce="1TvDCYd/S6BqdFfC5HC71A==">(function(){window.google.cdo={height:0,width:0};(function(){var a=window.innerWidth,b=window.innerHeight;if(!a||!b){var c=window.document,d="CSS1Compat"==c.compatMode?c.documentElement:c.body;a=d.clientWidth;b=d.clientHeight}a&&b&&(a!=google.cdo.width||b!=google.cdo.height)&&google.log("","","/client_204?&atyp=i&biw="+a+"&bih="+b+"&ei="+google.kEI);}).call(this);})();</script><div id="xjsd"></div><div id="xjsi"><script nonce="1TvDCYd/S6BqdFfC5HC71A==">(function(){function c(b){window.setTimeout(function(){var a=document.createElement("script");a.src=b;google.timers&&google.timers.load.t&&google.tick&&google.tick("load",{gen204:"xjsls",clearcut:31});document.getElementById("xjsd").appendChild(a)},0)}google.dljp=function(b,a){google.xjsu=b;c(a)};google.dlj=c;}).call(this);if(!google.xjs){window._=window._||{};window._DumpException=window._._DumpException=function(e){throw e};window._F_installCss=window._._F_installCss=function(c){};google.dljp(\'/xjs/_/js/k\\x3dxjs.hp.en.KO6JgKNMgu0.O/m\\x3dsb_he,d/am\\x3dhIKxAQ/rt\\x3dj/d\\x3d1/rs\\x3dACT90oHcI9K8pv7kQNyhjD_FOj2nvh9Kug\',\'/xjs/_/js/k\\x3dxjs.hp.en.KO6JgKNMgu0.O/m\\x3dsb_he,d/am\\x3dhIKxAQ/rt\\x3dj/d\\x3d1/rs\\x3dACT90oHcI9K8pv7kQNyhjD_FOj2nvh9Kug\');google.xjs=1;}google.pmc={"sb_he":{"agen":true,"cgen":true,"client":"heirloom-hp","dh":true,"dhqt":true,"ds":"","ffql":"en","fl":true,"host":"google.com","isbh":28,"jsonp":true,"msgs":{"cibl":"Clear Search","dym":"Did you mean:","lcky":"I\\u0026#39;m Feeling Lucky","lml":"Learn more","oskt":"Input tools","psrc":"This search was removed from your \\u003Ca href=\\"/history\\"\\u003EWeb History\\u003C/a\\u003E","psrl":"Remove","sbit":"Search by image","srch":"Google Search"},"nds":true,"ovr":{},"pq":"","refpd":true,"rfs":[],"sbpl":24,"sbpr":24,"scd":10,"sce":5,"stok":"uMC6IIavi-VdvBuYTj_CoLbWILY","uhde":false},"d":{},"ZI/YVQ":{},"Qnk92g":{},"U5B21g":{},"DPBNMg":{},"YFCs/g":{}};google.x(null,function(){});(function(){var r=[];google.plm(r);})();(function(){var m=[]\n;google.jsc && google.jsc.m(m);})();</script></div></body></html>'

In [7]:
#grabbing a particular string from website

In [10]:
from bs4 import BeautifulSoup

In [11]:
soup = BeautifulSoup(htmldata, 'html.parser')

In [12]:
soup.find('title') #displays the title

In [13]:
soup.find('title').string #If we want only the string

'Google'

### .json file

In [14]:
res = requests.get(json_url)

In [19]:
res.text #grabs all data as text

'{\n  "firstName": "John",\n  "lastName": "Smith",\n  "isAlive": true,\n  "age": 25,\n  "address": {\n    "streetAddress": "21 2nd Street",\n    "city": "New York",\n    "state": "NY",\n    "postalCode": "10021-3100"\n  },\n  "phoneNumbers": [\n    {\n      "type": "home",\n      "number": "212 555-1234"\n    },\n    {\n      "type": "office",\n      "number": "646 555-4567"\n    },\n    {\n      "type": "mobile",\n      "number": "123 456-7890"\n    }\n  ],\n  "children": [],\n  "spouse": null\n}\n'

In [16]:
json_data = res.json() #loads json file

In [17]:
json_data['address'] #extracts the particular string information

{'streetAddress': '21 2nd Street',
 'city': 'New York',
 'state': 'NY',
 'postalCode': '10021-3100'}

In [18]:
json_data['phoneNumbers']

[{'type': 'home', 'number': '212 555-1234'},
 {'type': 'office', 'number': '646 555-4567'},
 {'type': 'mobile', 'number': '123 456-7890'}]

In [22]:
json_data['address']['streetAddress']

'21 2nd Street'