# Welcome to Data Science - Python notes.

The course starts with List, Tuples and Dictionary to Advanced ML concepts in python

Kindly update yourselves the basic data types before looking the notes.

## Lists

In [1]:
[2,3,4] #3 element list

[2, 3, 4]

In [4]:
l = ["Hello",2,3,[5,6]]#list within list, string are assigned to a variable

In [5]:
l

['Hello', 2, 3, [5, 6]]

In [6]:
#Modifying elements in list: hello -> bye

l[0] = "bye"

l

['bye', 2, 3, [5, 6]]

In [8]:
#appending new elements into the list
l.append("python")
l

['bye', 2, 3, [5, 6], 'python', 'python']

In [12]:
#Extracting particular element from list
l[2]
l[3][1]

6

In [15]:
#Note: in python if two codes are given to execute, it will execute the last code.
#Thats where print() helps to get both outputs.
print(l[2])
print(l[3][1])

3
6

## Tuples

In [16]:
# Lists and Tuples are similar. But tuple is immutable data structure which can't be modified

In [17]:
z = (1,2,3)

In [18]:
type(z)

tuple

In [19]:
z[0] = 3 #gives error as cant be modified

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [20]:
#It consists of "key:value" pair

In [21]:
dic = {"key1": 20, "key2": 18, "key3": 34}

In [22]:
dic

{'key1': 20, 'key2': 18, 'key3': 34}

In [23]:
dic["key1"]

20

## Set

In [24]:
#Unordered collection of unique elements

In [2]:
st = {1,2,3,5,6,8,8,1,4,4,9,3}

In [3]:
st #repeated numbers are removed and made unique

{1, 2, 3, 4, 5, 6, 8, 9}

In [4]:
type(st)

set

In [27]:
st.add(8) #add here acts as append

In [28]:
st

{1, 2, 3, 4, 5, 6, 8, 9}

In [29]:
st.add(4) #wont be added as 4 is in set already. Only unique values are added

In [30]:
st

{1, 2, 3, 4, 5, 6, 8, 9}