In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[np.nan,2,np.nan,0],[3,4,np.nan,1],[np.nan,np.nan,np.nan,5],[np.nan,np.nan,np.nan,np.nan]], 
                  columns = list("ABCD")) #Or columns = ["A","B","C","D"]

In [3]:
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  5.0
3  NaN  NaN NaN  NaN

In [4]:
#df.dropna(axis = 1) if we apply this it'll discard all the columns(axis=1) even when there is one NaN

df.dropna(axis = 1, how= "all") #For column wise
#all - if all the columns are NaN, that column would be discarded
#any - if any of values in columns are NaN, that column would be discarded

     A    B    D
0  NaN  2.0  0.0
1  3.0  4.0  1.0
2  NaN  NaN  5.0
3  NaN  NaN  NaN

In [5]:
df.dropna(axis = 0, how= "all")

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  5.0

## fill na

-  by constant value
-  by taking mean
-  by replacing NaN

In [6]:
df.fillna(10) #filling NaN by constant values

      A     B     C     D
0  10.0   2.0  10.0   0.0
1   3.0   4.0  10.0   1.0
2  10.0  10.0  10.0   5.0
3  10.0  10.0  10.0  10.0

In [8]:
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  5.0
3  NaN  NaN NaN  NaN

In [9]:
df["D"].fillna(df['D'].mean()) #Filling 'D' column by taking mean of other 3 value

0    0.0
1    1.0
2    5.0
3    2.0
Name: D, dtype: float64

In [10]:
df.iloc[:,:4].fillna(df.mean()) 
#filling mean of NaN values if by taking mean of whole data.

     A    B   C    D
0  3.0  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  3.0  3.0 NaN  5.0
3  3.0  3.0 NaN  2.0

In [11]:
df.replace(np.NaN,"Missing Value")

               A              B              C              D
0  Missing Value              2  Missing Value              0
1              3              4  Missing Value              1
2  Missing Value  Missing Value  Missing Value              5
3  Missing Value  Missing Value  Missing Value  Missing Value